<yafnet>
	<connstr>user id=xxx;pwd=xxx;data source=(local);initial catalog=yafnet;timeout=90</connstr>
	<uploaddir>~/upload/</uploaddir>
	<boardid>1</boardid>
	<!-- Enable URL Rewriting -->
	<enableurlrewriting>false</enableurlrewriting>
	<!--logtomail>email=;server=;user=;pass=;</logtomail-->
	<!--categoryid>1</categoryid-->
	<!-- Enable these to use a custom user class "provider" -->
	<!--CustomUserAssembly>TinyGecko.YAFIntegration.dll</CustomUserAssembly>
    <CustomUserClass>TinyGecko.YAFIntegration.yafUserClass</CustomUserClass-->
</yafnet>